/*Palette http://www.colourlovers.com/palette/2704312/trout
Also #D2E5EC (bluish grey)*/

body {
  background-color: #EEEEDD;
  font-family: 'Cabin', sans-serif;
  font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color:  #2E2E2E;
  font-family: 'Droid Sans', sans-serif;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 256px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #2E2E2E;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  background: rgba(255,255,255,0.8);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav >.active{
  background: #448877;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
/*Styling for slideout.js*/
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  background: #000;
  background-color:   #EEEEDD;
  background: rgba(0,0,0,0.2);
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
  background-color: #EEEEDD;
  border-left-style:  solid;
  border-left-width: 5px;
  border-left-color: #448877;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  background-color: #EEEEDD;
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/*These classes are for  quick identification of different divs when debugging */
.red {
  background-color:  red;
}

.blue {
  background-color:  blue;
}

.tabs-left > .siderbar{
  border-bottom: 0; /* removes line from bottom tab*/
  position:   fixed;
}

.nav-tabs>li {
  float: none;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.spacer {
  height:50px;
}

.highlight {
  background-color: #DDBB99;
}

.menu-pull {
  background-color: #448877;
  height: 3em;
}

.menu-pull > p {
    position: absolute;
    bottom: 0;
}

.highlight  p,
.highlight h1,
.highlight h2,
.highlight h3,
.highlight h4,
.highlight h5,
.highlight h6 {
  /*find something that works here?*/
}

/*GREATER THAN sm breakpoint*/
@media (min-width: 768px ) {

  #Peytons-headshot {
    order: 2;
  }
  #intro-header {
    order: 1;
  }

  .tabs-left > .siderbar> li > a {

  }
  /*Gives tab bottom border*/
  .tabs-left > .siderbar{
    float: left;
    border-right: 1px solid #ddd;
  }
  /*Gives rounded tab edges*/
  .tabs-left > .siderbar> li > a {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    height: 22vh;
  }
  /*Puts sidebar out on non-mobile devices*/
  .slideout-panel {
    margin-left: 256px;
  }

  .slideout-menu {
    display: block;
  }

  .img-burger {
    display: none;
  }

}
/*LESS THAN md breakpoint*/
@media (max-width: 992px ) {

  #img-headshot {
    display:block;
    margin:auto;
  }

  #intro-header {
    text-align: center;
  }
}
/*These classes are for  quick identification of different divs when debugging */
.red {
  background-color:  red;
}

.blue {
  background-color:  blue;
}