.tabs-left > .nav-tabs {
  border-bottom: 0; /* removes line from bottom tab*/
}

.nav-tabs>li {
  float: none;
}

.flex {
  display: flex;
  flex-flow: row wrap;   
  align-items: center;    
}


/*GREATER THAN sm breakpoint*/
@media (min-width: 768px ) {

  #Peytons-headshot {      
    order: 2;
  }
  #intro-header {      
    order: 1;      
  }

  .tabs-left > .nav-tabs > li > a {

  }
  /*Gives tab bottom border*/
  .tabs-left > .nav-tabs {
    float: left;
    border-right: 1px solid #ddd;
  }
  /*Gives rounded tab edges*/
  .tabs-left > .nav-tabs > li > a {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    height: 100px;
  }

}
/*LESS THAN md breakpoint*/
@media (max-width: 992px ) {

  #img-headshot {
    display:block;
    margin:auto;
  }

  #intro-header {
    text-align: center;
  }


}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
/*These classes are for  quick identification of different divs when debugging */
.red {
  background-color:  red;
}

.blue {
  background-color:  blue;
}