body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.container.content{
    padding: 40px 15px;
    background: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
