body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.starter-template > p{
  color:#A3D9B0;
}
.container.content{
    color: #93BF9E;
    padding: 40px 15px;
    background: #F2F0D5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar{
    background: #40362E;
}

.navbar-brand {
  background: #8C8474;
  color:#FFF;
}
